{% extends 'AppBundle:Layouts:main_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #team-table {
            text-align: center;
        }
        #team-table table {
            display: inline-block;
        }
        
        table, th, tr, td {
            border: 1px solid black;
        }
        
        th {
            padding: 0px 2px 0px;
        }
        td {
            padding: 0px 2px 0px;
        }
        a {
            color: blue;
        }
        
        .table-col1 {
            min-width: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="team-table">
        <h4>Team <i>{{ team.name }}</i></h4>
        <table>
            <tr>
                <th class="table-col1"></th>
                <th>Players</th>
            </tr>
            {% for i in 0..team.players|length - 1 %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ team.players[i].username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
{% endblock %}